                <div class="card-header">提交评论区</div>
                <div class="card-body">
                    <div>
                        {% if user.is_authenticated%}

                            <form action="{% url 'submit_comment' %}" method="POST">
                                {% csrf_token %}
                                <label for="exampleFormControlTextarea1">{{ user.username }},已登录。请填写评论</label>
                                <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                <input type="hidden" name="object_id" value="{{ object_id }}">
                                <input type="hidden" name="content_type" value="{{ content_type }}">
                                <input type="submit" value="评论" class="btn btn-primary">
                            </form>
                        {% else %}
                            未登录
                            <form action="{% url 'login' %}" method="POST">     <!--POST大写-->
                                {% csrf_token %}
                                <span>用户名：</span>
                                <input type="text" name="username">
                                <span>密码：</span>
                                <input type="password" name="password">
                                <input type="submit" value="登录">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="card-header">评论列表区域</div>
                <div class="card-body">
                    <ul>
                    {% for i in comments %}
                        <li>作者{{ i.user }}时间：{{ i.created_time|date:"Y-m-d H:i:s"}}<p>{{ i.text }}</p></li>
                    {% empty %}
                        <li>暂无评论</li>
                    {% endfor %}
                    </ul>
                </div>