                <div class="card-header">提交评论区</div>
                <div class="card-body">
                    <div>
                        {% if user.is_authenticated%}
                            已登录
                        {% else %}
                            未登录
                            <form action="{% url 'login' %}" method="POST">     <!--POST大写-->
                                {% csrf_token %}
                                <input type="text" name="username">
                                <input type="password" name="password">
                                <input type="submit" value="登录">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="card-header">评论列表区域</div>
                <div class="card-body">
                    <ul>
                    {% for i in categorys %}
                        <li><a href="{% url 'blog_category' i.id %}">{{i.name}}</a></li>
                    {% empty %}
                        <li>暂无分类</li>
                    {% endfor %}
                    </ul>
                </div>