{#<!doctype html>#}
{#<html>#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>{{architecture.name}}-{{ architecture.architect.name }}</title>#}
{#</head>#}
{#<body>#}
{#<h3>{{architecture.name}}</h3>#}
{#<br>#}
{#<img src="{{architecture.architect.profile}}" />#}
{#{{architecture.architect.profile}}#}
{#<br>#}
{#{{architecture.created_time|date:"Y-m-d"}}#}
{##}
{#</body>#}
{#</html>#}


{% extends "base.html" %}

{% block head %}
    <title>{{architecture.name}}-{{ architecture.architect.name }}</title>
{% endblock %}


{% block body %}
<h3>{{architecture.name}}</h3>
<br>
<img src="{{architecture.architect.profile}}" />
{{architecture.architect.profile}}
<br>
{{architecture.created_time|date:"Y-m-d"}}
{% endblock %}